.form__input {
    box-sizing: border-box;
    width: 240px;
    height: 40px;
    border: 1px solid #E8E8E8;
    margin: 21px 0 0 -20px;
    padding: 0 0 2px 20px;
    font-family: "Open Sans";
    font-size: 14px;
    color: black;
    outline: none;
    border-radius: 3px;
}