.note {
    cursor: move;
    position: relative;
    margin: 20px;
    width: 280px;
    height: 180px;
    display: inline-block;
}

.note_yellow {
    background-image: linear-gradient(0deg, #FDFADF 83%, #F5F3D8 100%);
    box-shadow: 0 1px 0 0 rgba(204, 200, 137, 0.25);
}

.note_green {
    background-image: linear-gradient(0deg, #77DD84 83%, #F5F3D8 100%);
    box-shadow: 0 1px 0 0 rgba(204, 200, 137, 0.25);
}

.note__close {
    display: none;
    float: right;
    cursor: pointer;
}

.note:hover .note__close {
    display: block;
}

.note__text {
    box-sizing: border-box;
    width: 280px;
    font-size: 14px;
    font-family: "Open Sans";
    outline: 0;
    border: 0;
    z-index: 1;
    border-radius: 3px;
    padding: 20px;
    resize: none;
    background: none;
    overflow: hidden;
}

.note__footer {
    display: none;
}

.note:hover .note__footer {
    display: block;
    width: 240px;
    height: 29px;
    position: absolute;
    bottom: 0;
    margin: 0 20px 0 20px;
}

.note__button {
    float: left;
    cursor: pointer;
    padding: 4px;
}

.note__button_color {
    margin: -1px 0 0 0;
}

.note__button_add-new {
    margin: 0 0 0 0;
}

.note__button_link {
    margin: 1px 0 0 0;
}

.note__button_save {
    margin: 2px 0 0 0;
}