.menu {
    color: green;

}

.menu__list {
    display: none;
}

.arrow__right {
    display: inline-block;
}

.arrow__down {
    display: none;
}

.menu_expanded .arrow__right {
    display: none;
}

.menu_expanded .arrow__down {
    display: inline-block;
}

.menu_expanded .menu__list {
    display: block;
}

.template {
    display: none;
}