.app__sidebar {
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 100%;
    padding: 0 0 0 40px;
}

.app__hr {
    border: none;
    padding: 0;
    margin: 0;
    height: 1px;
    background: #F2F2F2;
}

.app__notes {
    height: 100%;
    margin: 0 0 0 280px;
    padding: 20px;
}

.app__note {
    display: inline-block;
}